header {
    background: $primary-color;
    height: rem(50);
    text-align: center;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: white;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }

    h1 {
      color: white;
    }

    nav ul {
      display: flex;
      width: 60vw;
      justify-content: space-around;
      text-decoration: none;
      list-style: none;
    }

  }