header {
    background: $primary-color;
    height: rem(50);
    text-align: center;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    hi {
      color: white;
    }

  }