body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
    &.no-scroll {
      overflow-y: hidden;
    }
    &.sobre {
      background: #fff;
    }
    &.contactos {
      background: #fff;
    }
    &.home {
      background: #fff;
    }
  }
  h1 {
    @include textMedium;
  }
  h2 {
    @include textLarge;
    @media (min-width: $small) {
      @include textXLarge;
    }
    text-transform: uppercase;
  }
  h3 {
    @include textMedium;
    @media (min-width: $small) {
      @include textLarge;
    }
  }
  h4,
  h5 {
    @include textMedium;
  }
  p {
    @include textSmall;
  }
  header,
  footer {
    @include textXSmall;
  }
  
  /* START MAIN */

  main {
    background: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
    @media (min-width: $medium) {
      max-width: 100%;
      padding: 30px;
    }
    @media (min-width: $large) {
      max-width: 1130px;
    }
  }
  
  /* END MAIN */
  
  .flex-grid {
    width: 100%;
  }
  .column {
    background: #fff;
  }
  .column:not(:last-child) {
    margin-bottom: 30px;
  }
  .figure-home {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: ratio(16, 9);
    p {
      position: absolute;
      bottom: -15px;
      width: 100%;
      @include textMedium;
      @media (max-width: $small) {
        bottom: -20px;
        @include textSmall;
      }
      @media (min-width: $medium) {
        bottom: -25px;
        @include textSmall;
      }
      object-fit: contain;
    }
    .img-home {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  @media (min-width: $medium) {
    .flex-grid {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
    .column {
      width: 33.33%;
    }
    .column:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .contact-p {
    @include textMedium;
    @media (min-width: $small) {
      @include textMedium;
      padding-top: 32px;
    }
  }